/*---Global styles---*/

body {
    font-family: "Raleway", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: "Oswald", sans-serif;
}

.main-text {
    text-align: center;
    padding: 5%;
}

.main-text h2 {
    padding: 3%;
}

:target:before {  /* Anchor link fixed using code pulled directly from --> https://www.itsupportguides.com/knowledge-base/tech-tips-tricks/how-to-offset-anchor-tag-link-using-css/ */
content:"";
display:block;
height:48px; /* fixed header height*/
margin:-48px 0 0; /* negative fixed header height */
}

/*---------------Nav bar---*/

.homelogo {
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 1.5em;
    padding: 0;
}

.socials-burger {
    text-align: left;
    display: inline-block;
    padding: 3% 0 3% 0;
}

.socials-burger i {
    color: #575757;
    margin-right: 10px;
}

.socials-navbar i {
    color: #575757;
    margin-right: 10px;
}

/*---------------Landing page---*/

/*---rgba opacity does not seem to apply to the background image, only linear gradient
https://www.w3schools.com/howto/howto_css_parallax.asp---*/
.heroimage-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/banter-snaps-y4bE8ST_CTg-unsplash-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  position: relative;
  height: 100vh;
  max-width: 100%;
}

.heroimage-text {
    color: white;
    margin: auto;
    width: 60%;
    height: 80%;
    display: flex;
}

.main-logo {
    margin: auto;
    border: 0.07em solid white;
    padding: 4% 2% 0% 5%;
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 5rem;
}

/*---------------About---*/

.about img {
    filter: invert(100%);
    width: 100%;
}

.about figure {
    text-align: center;
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 1.2em;
    padding-top: 2%;
}

.about figure p {  /* <---removes margin when visable in mobile view  */
    margin: 0;
}

.about img {
    max-width: 80%;
}

.award-image {
    padding-bottom: 5%;
}

.award-image p {
    padding: 0;
}

/*---------------Tesimonials---*/

.sticky-image {
    width: 100%;
    position: sticky;
    top: 48px;
}

.testimonials {
    background: #F5F5F5;
    position: relative;
}

.quote {
    text-align: center;
}

.quote p {
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 1.5em;
    margin-bottom: 0;
}

.quote footer {
    font-family: "Oswald", sans-serif;
}

.testimonials img {
    border-radius: 50%;
    padding: 2%;
    border: 4px solid black;
}

.testimonials div {
    padding: 3%;
    text-align: center;
}

/*---------------Portfolio---*/
.portfolio {
    background: #F5F5F5;
    position: relative;
}

.heroimage-2 {
    background-image: url(../images/eliza-szablinska-TncriKEFStY-unsplash-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    height: 35vh;
    max-width: 100%;
}

.polaroidblock {
    padding: 5%;
}

.polaroidphoto {
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 15px;
}

.polaroidphoto figcaption {
    text-align: center;
    padding-top: 3%;
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 1.2em;
}

.polaroidphoto img {
    filter: sepia(50%);
}

#SM {
    transform: rotate(1deg);
}

#WP {
    transform: rotate(-1.4deg);
}

#SJ {
    transform: rotate(-0.8deg);
}

#SW {
    transform: rotate(1.3deg);
}

/*---------------Locations---*/
.locations {
    background: #F5F5F5;
    position: relative;
}

.heroimage-3 {
    background-image: url(../images/marisa-morton-h-dR-XFJXis-unsplash-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    height: 30vh;
    max-width: 100%;
}

/*---------------Contact---*/

.cursive {
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 2em;
    text-align: center;
}

.contactform {
    padding: 5% 15%;
    text-align: center;
}

.contactform button:hover {
    background-color: #575757;
}

.signup {
    padding:5% 5%;
}
/*---------------Footer---*/

.footer {
    text-align: center;
    background-color: #575757;
    color: #f5f5f5;
}

.designer-link {
    color: #f5f5f5;
}

.designer-link:hover {
    color: inherit;
    text-decoration: none;
}

.hidden-socials i {
    color: #f5f5f5;
    margin-right: 10px;
}

/*---------------Media queries---*/

/*---Mobile devices (vertical)---*/

/*---max-width to target just vertical mobile devices. Image is too large on mobile vertical--*/
@media (max-width: 575.98px) {
    .testimonials img {
        max-width: 70%;
    }
    .polaroidwrapper {
        padding: 3% 15%;
    }
}

/*---Mobile devices (horizontal)---*/

@media (min-width: 576px) {
    .about-text {
        padding: 4% 8%;
    }
    .heroimage-text span {
        font-size: 12vw;
    }
}

/*---Tablets (horizontal) / Desktops---*/

@media (min-width: 992px) {
    .main-text {
        font-size: 1.4em;
    }
    .cursive {
        padding: 0;
    }
    .signup {
        padding:0% 10% 5% 10%;
    }
    .heroimage-1 {
        background-attachment: fixed;
    }
    .main-logo {
        font-size: 8rem;
    }
    .video {
        max-width: 80%;
    }
}

/*---Large Desktops---*/

@media (min-width: 1200px) {
    .contactform {
        padding: 5% 20%;
    }
    .signup {
        padding: 0% 15% 5% 15%;
    }
}
