/*---Global styles---*/

body {
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Oswald", sans-serif;
}
/*---------------Nav bar---*/

.homelogo {
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 1.5em;
    padding: 0;
}

.socials-burger {
    text-align: right;
    display: inline-block;
}

.socials-burger i {
    color: #575757;
    margin-right: 10px;
}

.socials-navbar i {
    color: #575757;
    margin-right: 10px;
}

/*---------------Landing page---*/

/*---rgba opacity does not seem to apply to the background image, only linear gradient---*/
.heroimage-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/banter-snaps-y4bE8ST_CTg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  height: 100vh;
}

.heroimage-text {
  color: white;
  margin: auto;
  width: 60%;
  height: 80%;
  display: flex;
}

.heroimage-text span {
  margin: auto;
  border: 0.8vw solid white;
  padding: 2% 2% 0% 5%;
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 18vw;
}

/*---------------About---*/

.about img {
    filter: invert(100%);
    width: 100%;
}

.about-text {
    padding: 10%;
}

.about-text h2 {
    text-align: center;
    padding: 3%;
}

.about figure {
  text-align: center;
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 1.2em;
  padding-top: 2%;
}

.about figure p {  /* <---removes margin when visable in mobile view  */
    margin: 0;
}
/*---------------Tesimonials---*/

.stickyimage {
    position: sticky;
    top: 48px;
    z-index: 0;
    width: 100%;
    padding: 0;
}

.testimonials {
    background: #F5F5F5;
    position: relative;
}

.quote {
    text-align: center;
    padding: 13% 2%;
}

.testimonials img {
    border-radius: 50%;
    padding: 2%;
    border: 4px solid black;
}

.testimonials div {
    padding: 3%;
}

/*---------------Portfolio---*/

.heroimage-2 {
  background-image: url(../images/eliza-szablinska-TncriKEFStY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  height: 20vh;
}

.portfolio h2, p {
    text-align: center;
    padding: 5% 10% 5% 10%;
}

.polaroidblock {
    padding: 5%;
}

.polaroidphoto {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 15px;
}

}
#SM {
    transform: rotate(1deg);
}

#WP {
    transform: rotate(-1.4deg);
}

#SW {
    transform: rotate(-0.8deg);
}

#SJ {
    transform: rotate(1.3deg);
}
/*---------------Contact---*/

/*---------------Footer---*/

/*---------------Media queries---*/

/*---Mobile devices (vertical)---*/

/*---Mobile devices (horizontal)---*/

/*---Tablets (vertical)---*/

/*---Tablets (horizontal)---*/

/*---Desktops---*/
